@import "./mixins.scss";

.about--container {
  max-width: var(--mobile-max-width);
  min-height: 101%;
  bottom: 0;
  margin: 0 auto 40px;
  @include tablet {
    max-width: var(--tablet-max-width);
    margin: 0 auto 120px;
  }
  + .footer {
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.about--title {
  font-weight: 500;
  text-align: center;
  color: var(--text-black);
  font-size: 1.75rem;
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-delay: 0ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
  @include tablet {
    font-size: 2.25rem;
  }
}

.about--portrait {
  margin: 15px auto 20px;
  height: 110px;
  width: 110px;
  animation-name: fadeIn;
  animation-duration: 250ms;
  animation-delay: 50ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
  canvas {
    height: 100%;
    width: 100%;
  }
  @include tablet {
    margin: 20px auto 30px;
    height: 150px;
    width: 150px;
  }
}

.about--dotted_line {
  @include dotted-line;
}

.about--text_block {
  color: var(--text-black);
  max-width: var(--mobile-inner-max-width);
  margin: 20px auto;
  @include tablet {
    margin: 30px auto;
    max-width: var(--tablet-inner-max-width);
    padding: 0 70px;
  }
}

.about--sub_text {
  line-height: 150%;
  letter-spacing: 0.0125em;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.2rem;
  animation-name: fadeIn;
  animation-duration: 250ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.about--body_text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.about--links {
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-delay: 260ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
  @include tablet {
    margin: 30px auto 0;
  }
}

.about--links-cta {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--text-black-lite);
  @include tablet {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}

.about--link_holder {
  display: flex;
  position: relative;
  li {
    margin: 0 20px;
    height: 30px; // height corresponds svg height

    a {
      color: var(--text-black);
    }
  }

  li {
    cursor: pointer;
  }

  .icon-group {
    height: 40px;
    width: 40px;

    .icon {
      width: 40px;
      height: 40px;
      position: absolute;
      color: var(--text-black-lite);
      transform: translate(7px, 7px);
      transition: color 600ms ease-in-out;
      svg {
        height: 32px;
        width: 32px;
        
      }
    }
    circle {
      visibility: hidden;
    }
  }
  @media (hover: hover) {
    li {
      margin: 0 10px;
    }
    .icon-group {
      circle {
        visibility: visible;
      }
      .icon {
        svg {
          height: 26px;
          width: 26px;
        }
      }
    }
    .ring {

      height: 40px;
      width: 40px;
      rotate: 90deg;
    }
    .ring--circle {
      // display:inline;
      stroke-dasharray: 200 200;
      stroke-dashoffset: 200;
      stroke: #129ae3;
      fill: #129ae300;
      stroke-width: 1;
      transform: translate(-20px, -20px);
      transition: all 400ms ease-in-out;
    }
    li:hover {
      .ring--circle {
        stroke-dasharray: 200 0;
      }
      .icon {
        color: var(--accent-blue);
      }
    }
  }
}
