@import "./mixins.scss";

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  // padding-bottom: 30px;
  // height: 30px;

  &--link_holder {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    height: 100%;
  }
  button {
    background: none;
    padding: 2px 2px 0;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
    color: var(--text-black-lite);
    transition: 300ms color ease-in;
  }
  button:hover {
    color: var(--text-black);
  }
}
