@import "./mixins.scss";
@import "./project-page.scss";
@import "./project-card.scss";
@import "./header.scss";
@import "./works.scss";
@import "./about.scss";
@import "./footer.scss";
@import "./lightbox-style.scss";

:root {
  --background-solid: #ebe6e1;
  --background-solid-trans: #ebe6e1a4;
  --max-width: 1000px;
  --tablet-max-width: 650px;
  --mobile-max-width: 95%;
  --mobile-inner-max-width: 90%;
  --tablet-inner-max-width: 650px;
  --inner-max-width: 800px;
  --lightYellow: hsl(74, 100%, 95%);
  --complementaryYellow: #e5f3ff;
  --text-black: #404040;
  --text-black-lite: #656464;
  --accent-blue: #129ae3;
  --accent-blue-lite: #72b8df;
  --off-black: #323232;
  --mid-black: hsl(0, 0%, 50%);
  --icon-height: 88px;
  --card-background: #ffffff55;
  --lines: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 200'%3E%3Cpath d='M10.5,200h-1a245,245,0,0,0,4.9-49.7c.1-20.4-2.5-35.4-5-50s-5-29.6-5-50A254,254,0,0,1,9.5,0h1A252.3,252.3,0,0,0,5.4,50.3c0,20.4,2.6,35.4,5,49.9s5.1,29.6,5,50.1A245,245,0,0,1,10.5,200Z' transform='translate(-4.4 0)' style='fill: %23FFFFFF65'/%3E%3C/svg%3E%0A");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background-solid);
  z-index: -1;
  min-height: 100vh;
  line-height: 1.25;
  white-space: pre-line;
  scroll-behavior: smooth;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: var(--lines);
    background-size: 8px;
    z-index: -1;
  }
  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
