@import "./mixins.scss";

.header--container {
  max-width: var(--mobile-max-width);
  margin: 0 auto;
  position: relative;
  &::after {
    content: "";
    position: fixed;
    background: linear-gradient(180deg, #ebe6e1 0%, rgba(235, 230, 225, 0.99) 46.59%, rgba(235, 230, 225, 0) 100%);
    height: 73px;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  @include tablet {
    &::after {
      content: "";
      position: fixed;
      background: linear-gradient(180deg, #ebe6e1 0%, rgba(235, 230, 225, 0.99) 46.59%, rgba(235, 230, 225, 0) 100%);
      height: 85px;
      width: 100vw;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    max-width: var(--tablet-max-width);
  }
  @include desktop {
    max-width: var(--max-width);
  }
}

.header--top-fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header--top-flex {
  width: var(--mobile-max-width);
  position: relative;
  display: flex;
  justify-content: space-between;
  @include tablet {
    width: var(--tablet-max-width);
  }
  @include desktop {
    width: var(--max-width);
  }
}

.header--small_title {
  transform: translate3d(0, 0, 0); // to prevent flickering of animation
  cursor: pointer;
  font-size: 1.25rem;
  margin-top: 7px;
  font-weight: 500;
  color: var(--text-black);
  transition: transform 360ms ease-in-out;
  span {
    color: var(--accent-blue);
    margin-left: 1px;
  }
  &.small {
    transform: translateY(0);
  }
  &.large {
    transform: translateY(-100px);
  }
}

.header--site_nav {
  ul {
    display: flex;
    font-weight: 400;
    justify-content: flex-end;
    font-size: 0.9rem;
    padding-top: 10px;
    li {
      margin-right: 5px;
    }
    li:first-child {
      margin-right: 20px;
    }
  }
  @include tablet {
    ul {
      font-size: 1rem;
      padding-top: 10px;
      font-weight: 500;
      li {
        margin-right: 0;
      }
      li:first-child {
        margin-right: 20px;
      }
    }
  }

  li a {
    color: var(--text-black);
  }
  a:hover {
    + .header--site_nav-bar {
      transform: scaleX(1);
    }
  }
}

.header--site_nav-bar {
  height: 3px;
  background-color: var(--accent-blue);
  width: 100%;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.19, 0.94, 0.42, 0.99);
  &.active {
    transform: scaleX(1);
  }
}

a {
  transition: color 300ms cubic-bezier(0.19, 0.94, 0.42, 0.99);
}

// select the <a> that's active - could do hover too
a:has(+ div.active) {
  color: var(--accent-blue);
}

.header--title {
  padding-top: 55px;
  max-width: var(--mobile-inner-max-width);
  margin: 0 auto;
  font-size: 1rem;
  color: var(--text-black);
  line-height: 225%;
  opacity: 1;
  margin-top: 0;
  transition: opacity 1000ms ease-in-out;
  &.small {
    opacity: 0;
  }
  &.large {
    opacity: 1;
    .header--title-name {
      margin-top: 0px;
    }
  }
  &.minimize {
    opacity: 0;
    .header--title-name {
      margin-top: -400px;
    }
  }

  @include tablet {
    padding-top: 110px;
    max-width: var(--tablet-inner-max-width);
    margin: 0 auto;
    line-height: 250%;
    font-size: 1.15rem;
  }
  @include desktop {
    max-width: var(--inner-max-width);
  }
}

.header--title-name {
  font-weight: 500;
  color: var(--accent-blue);
}

.header--title-sub_title {
  font-weight: 500;
  color: var(--text-black);
}
